.wrapper {
  background: linear-gradient(
    56.07deg,
    #193a68 16.31%,
    #193867 47.39%,
    #206589 85.03%
  );
  height: 100%;
}

.background {
  background: linear-gradient(90deg, #00365a 30.15%, #006cb5 90.84%);
}

.signup_signin_res {
  @media screen and (max-width: 769px) {
    width: 80%;
  }
  @media screen and (max-width: 450px) {
    width: 90%;
  }
}
